html,body { height: 100%; width: 100%; margin: 0px; padding: 0px; }

.wrapper {
    padding: 20px;
    width: 100% - 40px;
    height: calc(100vh - 80px);
}

.block {
    padding: 20px !important;
}

.top {
    width: calc(100% - 40px);

    padding: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.top img {vertical-align: middle;}
.top h1 {display: inline; vertical-align: middle; padding-left: 10px;}

.items {
    width: calc(70% - 50px);
    height: calc(100% - 100px);

}

.information {
    width: calc(30% - 50px);
    height: calc(100% - 100px);
    display: inline-block;
    float: right;
}

.item {
    background-color: var(--background-secondary-alt);
    
    border-radius: 20px;
    padding: 5px;
    position: relative;
}

.item-image {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}

.item-name {
    display: inline-block;
    vertical-align: middle;
}

.item-amount-holder {
    height: 100%;
    width: 50%;
    right: 1%;
}

.item-amount {
    float: right;
    line-height: 50px;

    vertical-align: middle;
}