html body{
    background-color: var(--background-primary);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.block {
    background-color: var(--background-secondary);
    border-radius: 20px;
    padding: 50px;
}

body {
    color: var(--text-normal) !important;
}

a {
    color: var(--text-normal) !important;
}

h1, h2 {
    color: var(--text-normal);
}

.button {
    background-color: var(--background-accent);
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
}

.button:hover {
    background-color: var(--background-tertiary);
}